* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    height: 64px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 18px 35px;
}

/* header and nav css*/
.header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;

}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/*Banner Css*/

.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.left-side h3{
    color: #474747;
font-size: 45px;
font-weight: 600;
}

.left-side h2{
    color:  #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.left-side p{
    color:#757575;
    font-size: 18px;
    line-height: 30px; /* 166.667% */
    margin-bottom: 30px;
}

/*Main Css*/
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section css*/
.about{
    margin-top: 130px;
    border-radius: 10px;
background: #FFF8F3;
padding: 130px 150px;
text-align: center;
margin-bottom: 130px;
}

.sec-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;

}
.sec-description{
    margin-bottom: 30px;
    color:  #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

}

.about-info-container{
    display: flex;
    justify-content: space-around;
   

}

.about-info{
}

.info-title{
    color:  #757575;
    font-size: 20px;
    line-height: 30px;
}

.info-des{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/*what i do css*/

.what-i-do{
    margin-bottom: 130px;

}
.wid-des{
    color: #757575;
text-align: center;
font-size: 18px;
line-height: 30px;
margin-bottom: 50px;
}

.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    width: 267px;
    height: 377px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.skill img{
    padding-bottom: 30px;
}

.skill h4{
    color:  #181818;
font-size: 20px;
font-weight: 700;
margin-bottom: 20px;
}

.skill p{
    color:  #757575;
font-size: 16px;
line-height: 28px; 
}

/*resume css*/

.resume{
    margin-bottom: 100px;
}

.resume-content{
    margin-top: 100px;
display: flex;
justify-content: space-between;
}

.resume-sub-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
}


.singel-edu-sec{
margin-bottom: 60px;
width: 510px;

border-bottom: 1px solid #D1D1D1;;
}

.singel-edu-sec h4{
    color: #474747;
font-size: 25px;
font-weight: 700;
margin-bottom: 10px;
}

.singel-edu-sec h5{
    color:  #757575;
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
}

.singel-edu-sec p{
    color: #757575;
    line-height: 28px; 
    font-size: 16px;
    margin-bottom: 30px;
}
.resmue-btn{
    text-align: center;
    margin-top: 50px;
}

/*contact section css*/

.contact-sec{
    display: flex;
    background: #FFF8F3;
    gap: 100px;    
}

.contact-left{
}

.contact-left h4{
text-align: left;
font-size: 35px;
font-weight: 700;
margin-bottom: 20px;
}


.contact-left p{
    color:  #474747;
line-height: 28px; 
size: 16px;
margin-bottom: 30px;
}

.contact-left a{
    margin-right: 24px;
}

.contact-side h4{
    text-align: left;
font-size: 35px;
font-weight: 700;
margin-bottom: 20px;
}